# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
# You can also use email addresses if you prefer.

# Default reviewers
*       @sfradkin @clydet @halprin @saquino0827 @omnivion

# CoreVPC Nava reviewers
*.tf    @gabesmed @ohlol
*.tpl   @gabesmed @ohlol
