<section class="usa-section">
    <div class="usa-grid">
        <h1>{{title}}</h1>
        <div class="usa-grid">
            <div class="usa-width-whole">
                <h2>Select files</h2>

                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                    Drop files here
                </div>

                Single
                <input type="file" ng2FileSelect [uploader]="uploader" />

                <h2>Upload queue</h2>
                <p>Queue length: {{ uploader?.queue?.length }}</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td>{{ item.progress }}%</td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess">success</span>
                                <span *ngIf="item.isCancel">cancelled</span>
                                <span *ngIf="item.isError">error</span>
                            </td>
                            <td nowrap>
                                <button type="button" class="usa-button" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="usa-button-gray" (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="usa-button-secondary" (click)="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <div *ngIf="!error && response" class="usa-alert usa-alert-success" role="alert">
                        <div class="usa-alert-body">
                            <h3 class="usa-alert-heading">Success</h3>
                            <div class="usa-alert-text">
                                <p>Your QRDA XML file was successfully converted to QPP JSON</p>
                                <a *ngIf="downloadJsonHref" class="usa-button" title="Download JSON" [href]="downloadJsonHref" download="{{fileName}}">Download {{fileName}}</a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="error" class="usa-alert usa-alert-error" role="alert">
                        <div class="usa-alert-body">
                            <h3 class="usa-alert-heading">Error</h3>
                            <div class="usa-alert-text">
                                <p>{{response.errorSources[0].validationErrors[0].errorText}}</p>
                                <a *ngIf="downloadJsonHref" class="usa-button" title="Download JSON" [href]="downloadJsonHref" download="error.json">Download full error response</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>