.DS_Store
jacoco.exec
*.orig
target/
.settings/
benchmark/*.json
.classpath
.project
*.iml
*.log
.idea/
qrdaToQppAssociations.txt

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
