.DS_Store
jacoco.exec
*.orig
target/
bin/
.settings/
.scannerwork/
.classpath
.project
.java-version
*.iml
*.log
.idea/
.vscode/
.factorypath
*.swp
qrdaToQppAssociations.txt
local.env

*/.checkstyle

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Terraform files
terraform.tfstate.backup
.terraform
infrastructure/terraform/dev/.terraform-version
infrastructure/terraform/dev/twe.initial_refresh.plan
.gitignore
infrastructure/terraform/dev/twe.full.plan
infrastructure/terraform/dev/twe.full.plan.txt
infrastructure/terraform/dev/twe.initial_refresh.plan.txt
infrastructure/terraform/dev/dev.qppse1208.plan
infrastructure/terraform/dev/dev.qppse1211.plan
infrastructure/terraform/devpre/.terraform.lock.hcl
infrastructure/terraform/devpre/devpre.qppse1211.plan
infrastructure/terraform/impl/.terraform.lock.hcl
infrastructure/terraform/impl/impl.qppse1211.plan
infrastructure/terraform/prod/.terraform.lock.hcl
infrastructure/terraform/prod/prod.qppse1211.plan
infrastructure/terraform/devpre/.terraform.lock.hcl
infrastructure/terraform/impl/.terraform.lock.hcl
infrastructure/terraform/prod/.terraform.lock.hcl
infrastructure/terraform/prod/.terraform.lock.hcl
infrastructure/terraform/prod/.terraform.lock.hcl
infrastructure/terraform/impl/.terraform.lock.hcl
.gitignore
infrastructure/terraform/dev/dev.qppse1208-v2.plan
infrastructure/terraform/dev/.terraform.lock.hcl
infrastructure/terraform/dev/dev.qppse1208-v3.plan
infrastructure/terraform/devpre/.terraform.lock.hcl
.gitignore
infrastructure/terraform/prod/.terraform.lock.hcl
