.DS_Store
jacoco.exec
*.orig
target/
bin/
.settings/
.scannerwork/
.classpath
.project
.java-version
*.iml
*.log
.idea/
.vscode/
.factorypath
*.swp
qrdaToQppAssociations.txt

*/.checkstyle

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Terraform files
terraform.tfstate.backup
.terraform
infrastructure/terraform/dev/.terraform-version
infrastructure/terraform/dev/twe.initial_refresh.plan
.gitignore
infrastructure/terraform/dev/twe.full.plan
infrastructure/terraform/dev/twe.full.plan.txt
infrastructure/terraform/dev/twe.initial_refresh.plan.txt
