<?xml version="1.0"?>
<configuration>
	<conversionRule conversionWord="attachment" converterClass="gov.cms.qpp.conversion.logging.AttachmentHashPartConverter"/>

	<property name="defaultPattern"
			  value='{"timestamp": "%d{HH:mm:ss.SSS}", "thread": "%thread", "attachment": "%attachment", "level": "%-5level", "logger": "%logger{36}", "message": "%msg"}'/>

	<appender name="STDOUT_DETAIL" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<pattern>
					<pattern>
						${defaultPattern}
					</pattern>
				</pattern>
				<stackTrace/>
			</providers>
		</encoder>
	</appender>
	<root name="gov.cms" level="INFO">
		<appender-ref ref="STDOUT_DETAIL"/>
	</root>
</configuration>
