<?xml version="1.0"?>
<configuration>
	<conversionRule conversionWord="attachment" converterClass="gov.cms.qpp.conversion.logging.AttachmentHashPartConverter"/>

	<property name="defaultPattern"
			  value='{"timestamp": "%d{HH:mm:ss.SSS}", "thread": "%thread", "attachment": "%attachment", "level": "%-5level", "logger": "%logger{36}", "message": "%msg"}'/>

	<appender name="STDOUT_DETAIL" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<pattern>
					<pattern>
						${defaultPattern}
					</pattern>
				</pattern>
				<stackTrace/>
			</providers>
		</encoder>
	</appender>
	<appender name="REST_API" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>rest-api-log.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>rest-api-log.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<pattern>
					<pattern>
						${defaultPattern}
					</pattern>
				</pattern>
				<stackTrace/>
			</providers>
		</encoder>
	</appender>
	<root name="API_LOG" level="INFO">
		<appender-ref ref="STDOUT_DETAIL"/>
		<appender-ref ref="REST_API"/>
	</root>
</configuration>
