name: Continuous Integration Suite

on:
  push:
    branches: [ master, develop ]

  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ develop ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout codebase
      uses: actions/checkout@v2

    - name: Check PII & Credentiail leaks
      uses: zricethezav/gitleaks-action@58dc69eef21e5798a163aa10a467bdf2e0749f4b # pin@master


    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Maven build
      run: mvn package -Dmaven.test.skip -Djacoco.skip=true

    - name: Run Unit tests & Sonar Scan
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: mvn --batch-mode verify -Psonar -Dsonar.organization=cmsgov -Dsonar.projectKey=gov.cms.qpp.conversion:qpp-conversion-new  -Dsonar.login=${{ secrets.SONAR_TOKEN }} -Dsonar.coverage.jacoco.xmlReportPaths=target/jacoco.xml

    - name: Run integration tests
      run: mvn --batch-mode test -Pintegration
