name: Continuous Integration Suite

on:
  push:
    branches:
      - develop
      - release/*
      - master
  pull_request:

jobs:
  build: 
    name: Run unit and integration tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase 
        uses: actions/checkout@v2
      
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      - name: Install dependencies
        run: mvn install

      - name: Run unit tests 
        run: mvn --batch-mode verify

      - name: Run integration tests  
        run: mvn --batch-mode test -P integration